.body {
  padding: 30px;
  flex: 0.8; /*take 80% of the space available*/
  height: 100vh;
  color: white;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}

.body__info {
  display: flex;
  align-items: flex-end; /*push the items at the bottom*/
  padding: 10px;
}

.body__infoText {
  flex: 1;
}

.body__info > img {
  height: 20vw; /*this will dynamically change the size of it based on how big or small the screen*/
  margin: 0 20px; /* top, bottom is 0px and left, right is 20px*/
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__infoText > p {
  font-size: 14px;
}
